body {
  text-align: center;
}

input {
  padding: 8px;
  border-radius: 2px;
  border-radius: 14%;
  margin: 5px;
}

img {
  height: 200px;
}
button {
  text-transform: uppercase;
  border: 1px solid black;
  background-color: #92a63e;
  padding: 8px;
  border-radius: 14%;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

/* /* .movie-list div {
  /* display: flex;
  flex-wrap: wrap; */
/*  */

.movie-list img,
.movie-list p {
  cursor: pointer;
}

.movie-list span:hover {
  text-decoration: underline;
}

.movie {
  width: 100px;
}

.movie img {
  object-fit: contain;
  height: 200px;
}
